<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.core2duofr.epinotes">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EPINOTES">
        <activity android:name=".WikiActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EPINOTES.NoActionBar" />
        <activity
            android:name=".DriveToulouseActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Drive de Toulouse"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EPINOTES.NoActionBar" />
        <activity
            android:name=".IonisActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Ionis"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EPINOTES.NoActionBar" />
        <activity
            android:name=".MoodleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Moodle"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EPINOTES.NoActionBar" />
        <activity
            android:name=".PegasusActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Pegasus"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EPINOTES.NoActionBar" />
        <activity android:name=".EpinotesAuthenticationActivity" />
        <activity
            android:name=".NotesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Mes notes"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EPINOTES.NoActionBar" />
        <activity
            android:name=".ExamensActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EPINOTES.NoActionBar" />
        <activity
            android:name=".EpimessagesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EPINOTES.NoActionBar" />
        <activity
            android:name=".ParametresActivity"
            android:theme="@style/Theme.EPINOTES.NoActionBar" />
        <activity
            android:name=".UploadActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Uploader un cours"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EPINOTES.NoActionBar" />
        <activity
            android:name=".CoursDuJourActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Cours du jour"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EPINOTES.NoActionBar" />
        <activity
            android:name=".AnnalesEtFichesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Annales et fiches"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EPINOTES.NoActionBar" />
        <activity
            android:name=".SuggestionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_suggestion"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EPINOTES.NoActionBar" />
        <activity
            android:name=".WebSiteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_web_site"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EPINOTES.NoActionBar" />
        <activity
            android:name=".EpinotesAccueilActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EPINOTES.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EPINOTES.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>