<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.core2duo.epinotes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EPINOTES">
        <activity
            android:name=".SuggestionActivity"
            android:label="@string/title_activity_suggestion"
            android:theme="@style/Theme.EPINOTES.NoActionBar"></activity>
        <activity
            android:name=".WebSiteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_web_site"
            android:theme="@style/Theme.EPINOTES.Fullscreen" />
        <activity android:name=".EpinotesAccueilActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>